body{
    margin:0;
    font-family: Arial, sans-serif;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.font-title{
    font-weight:800;
    font-size:45px;
}
.navbar{
   display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;

}
.r{
    color:#FD6E0A;
}
.navbar ul{
    list-style:none;
    display:flex;
    align-items:center;
    gap:30px;
}
.navbar a{
    font-size:20px;
    text-decoration:none;
    color:#000;
}
.btn{
    font-weight:700;
    font-size:20px;
    background:#FD6E0A;
    color:#fff;
    padding:8px 15px;
    border-radius:5px;
    border-style: solid;
   border-color: #ffffff;
    cursor: pointer;
}

.outline{
    font-weight:700;
    font-size:20px;
    background:none;
    border:2px solid #FD6E0A;
    padding:8px 15px;
    color:#FD6E0A;
}
.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:80px;
     background:#fff8f3;

}

.hero-text{
    width:50%;
}
.hero-text h4{
    font-weight:600;
    font-size:45px;
    margin:10px 0;
}
.hero-text h1{
    font-weight:700;
    font-size:85px;
    margin:10px 0;
}
.hero-text p{
   line-height:1.6;
   color:#666
}
.hero-img{
    width:1036px;
    height:676px;
    position:relative;
}
.bg-img{
    position:absolute;
    top:90px;
    right:0;
    width:1036px;
    height:518px;
    z-index:1;
    
}
.man-img{
    position:absolute;
    bottom:10%;
    
    left:70%;
    transform:translate(-50%);
    z-index:2;
    width:548px;
    /* height:676px; */
    object-fit:contain;
    z-index:2

}

.about{
    text-align:center;
    width:1140px;

    background:#FFF8F3;
    margin:80px auto;
    padding: 50px;
    border-radius:10px;
}

.about h2{
    font-size:35px;
    margin-bottom:10px;
}

.about p{
   max-width:700px;
   margin:0 auto 40px ;
}
.info{
    display:grid;
    grid-template-columns:repeat(4,1fr)
}
.info div{
    font-size:20px;
font-weight:bold
}
.info div Strong{
    font-size:20px;
color:#757575;
}